<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740865940020-s8e6luarbdj1gsa0gog3308tr6tiif95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740865940020-s8e6luarbdj1gsa0gog3308tr6tiif95</string>
	<key>API_KEY</key>
	<string>AIzaSyBD-qZ5d-h4keW95F73dXUOsm3UgDYPIr8</string>
	<key>GCM_SENDER_ID</key>
	<string>740865940020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anupambharti.Sleek-Care</string>
	<key>PROJECT_ID</key>
	<string>applesignin-eede5</string>
	<key>STORAGE_BUCKET</key>
	<string>applesignin-eede5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740865940020:ios:474af4672c58bdcacd0861</string>
</dict>
</plist>